<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
        <style th:replace="~{fragments/header :: head}"></style>

</head>
<body>

<div th:replace="~{fragments/navbar :: user-navbar}"></div>

<div class="container" id="mainContents">

  <div class="row">
    <div class="col-md-2">
      <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    </div>

    <div class="col-md-8">
      <div layout:fragment="content"></div>
    </div>


  </div>
</div>

<!--<div th:replace="fragments/footer :: footer"></div>-->


<!--<div id="main-wrapper">-->

<!--  &lt;!&ndash; Topbar header - style you can find in pages.scss &ndash;&gt;-->
<!--  -->
<!--  -->
<!--  <div th:replace="fragments/navbar :: user-navbar"></div>-->
<!--  -->
<!--  &lt;!&ndash; Left Sidebar - style you can find in sidebar.scss  &ndash;&gt;-->
<!--  -->
<!--  <div th:replace="fragments/sidebar :: sidebar"></div>-->
<!--  -->
<!--  &lt;!&ndash; Page wrapper  &ndash;&gt;-->
<!--  -->
<!--  <div class="page-wrapper" id="mainContent">-->
<!--  -->
<!--    <div layout:fragment="content"></div>-->
<!--&lt;!&ndash;    <div th:replace="fragments/footer :: footer"></div>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

</body>
</html>