/*:root {*/
/*    --navbar-height: 56px;*/
/*    --sidebar-width: 12rem;*/
/*}*/

#main {
    /*padding-top: var(--navbar-height);*/
    height: 100vh;
}

body {
    /*background-color: hsla(141, 45%, 81%, 0.5);;*/
    height: 100vh;
}

/*Navbar */
.navbar-dark {
    color: hsla(129, 53%, 90%, 1);
}

.formButton {
    background-color: hsla(159, 56%, 57%, 1);;
    border-color: #FEFFFF;
    border-width: 20px;
    border-radius: 20px;

}
.loginTitle {
    margin-bottom: 3%;
    font-family: "Roboto", "Verdana", "SansSerif";
    color: hsla(159, 56%, 7%, 1);
    /*background-color: hsla(141, 45%, 81%, 1);*/
    border-radius: 5px;
}

.page-title {
    margin-bottom: 3%;
    font-family: "Roboto", "Verdana", "SansSerif";
    color: hsla(159, 56%, 7%, 1);;

}

.container-margin {
    margin-top: 15%;
}