<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<body>

<div class="container container-margin">
<h1 class="page-title"> Registration </h1>
<hr>


<form class="row g-3" th:action="@{/saveUser}" th:object="${user}" method="POST">
    <div class="col-md-6">
        <label for="username" class="form-label">Choose Username</label>
        <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Enter username">
    </div>
    <div class="col-md-4">
        <label for="password" class="form-label">Enter Password</label>
        <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Enter password">
    </div>
    <div class="col-12">
        <button type="submit" class="btn-dark btn-lg col-3" id="formButton">Register</button>
    </div>

</form>
</div>

<div th:fragment="bootstrap-js">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</div>

</body>
</html>